---
import Container from '../UI/Container.astro';
import SectionTitle from '../UI/SectionTitle.astro';
import Grid from '../UI/Grid.astro';
import Panel from '../UI/Panel.astro';
---

<div class="lesson-pricing">
  <Container size="wide">
    <SectionTitle>Lesson Pricing</SectionTitle>
    
    <Grid variant="panels">

      <Panel>
        <h3>In Studio</h3>
        <h4>Single private lesson:</h4>
        <ul>
          <li>30 mins:<span class="rate">$85</span></li>
          <li>45 mins:<span class="rate">$130</span></li>
          <li>1 hour:<span class="rate">$175</span></li>
        </ul>
        <h4>Monthly rates:</h4>
        <ul>
          <li>4 weekly x 30 mins:<span class="rate">$75 per lesson</span></li>
          <li>4 weekly x 45 mins:<span class="rate">$120 per lesson</span></li>
          <li>4 weekly x 1 hour:<span class="rate">$160 per lesson</span></li>
        </ul>
      </Panel>

      <Panel>
        <h3>Online</h3>
        <h4>Single private lesson:</h4>
        <ul>
          <li>30 mins:<span class="rate">$80</span></li>
          <li>45 mins:<span class="rate">$125</span></li>
          <li>1 hour:<span class="rate">$165</span></li>
        </ul>
        <h4>Monthly rates:</h4>
        <ul>
          <li>4 weekly x 30 mins:<span class="rate">$70 per lesson</span></li>
          <li>4 weekly x 45 mins:<span class="rate">$115 per lesson</span></li>
          <li>4 weekly x 1 hour:<span class="rate">$150 per lesson</span></li>
        </ul>
      </Panel>
        
      <Panel>
        <h3>In Your Home</h3>
        <p class="copy">Rates for lessons in your home are determined based on distance and availability.</p>
      </Panel>

    </Grid>

    <p class="sliding-scale">
      <small>We don't want cost to be prohibitive or burdensome for people with financial constraints. If this applies to you, please inquire about our sliding scale.</small>
    </p>
  
  </Container>
</div>

<style>
.lesson-pricing {
  padding-top: var(--section-spacing-lg);
  padding-bottom: var(--section-spacing-md);
  background: var(--walnut);
  color: var(--parchment);
}

.lesson-pricing h2 {
  text-align: center;
  color: inherit;
}

.lesson-pricing h4 {
  margin-bottom: .75rem;
}

.lesson-pricing li {
  margin-bottom: .425rem;
}

.rate {
  margin-left: .4rem;
}

.sliding-scale {
  text-align: center;
  text-wrap: balance;
  font-style: italic;
  color: var(--dark-parchment);
  margin-top: var(--section-spacing-sm);
}

@media (max-width: 700px) {
  .sliding-scale {
    margin-top: var(--section-spacing-xs);
  }
}
</style>
