---
import { Image } from "astro:assets";
import Rule from "../UI/Rule.astro";
import Grid from "../UI/Grid.astro";
import Container from '../UI/Container.astro';
import pianoStudent from "../../assets/piano-student.jpg";
import Cta from "../UI/Cta.astro";
---

<div class="belief-statement">
  
  <div class="intro">
    <Container size="narrow">
      <h2><span>YOU CAN</span><br/><span>play the piano.</span></h2>
      <p class="standfirst">People often say something like "I wish I'd kept up with piano," or "I wish I'd taken lessons when I was younger," implying a limiting belief that it's too late now for them to learn. Some are convinced that long hours of daily practice from early childhood is the only way. Some find music confusing, illogical, disorderly; a murky ocean of disconnected random notes, with attempts to learn feeling like rudderless drifting, lost at sea.</p>
      <p class="standfirst">At Brooklyn Piano Studio we believe that anyone can learn piano and music, regardless of age or prior experience. Anyone who wants to learn can make meaningful progress with a modest, consistent commitment of time and effort. With proper guidance, you won't just learn a couple of songs; you'll build a real understanding of how music works: progress that sticks, a solid foundation that you can build upon. You can learn to play the piano, and we can help.</p>    
    </Container>
  </div>
  
  <Rule variant="spacer"/>

  <div class="content">
    <Container size="wide">
      <Grid variant="split">

        <Image
          src={pianoStudent}
          alt="Piano student at the piano"
        />
      
        <div class="extra-points">
          <h3>Music is a language</h3>
          <p class="prose">Like language, music is an organized system of sounds and symbols with its own conventions, patterns, and idioms. Small building blocks (notes) are composed into larger and larger structures. Understanding this system will help you learn the songs you want to play, or to write your own.</p>
          <h3>Music is fun!</h3>
          <p class="prose">Creative self expression is one of life's great joys. Playing music can help you relax when you're feeling stressed. It can bring a sense of accomplishment when you master a challenging song. It can open up new ways to connect with people and put you in touch with new friends and communities. It can enrich your life immensely.</p>
          <h3>We're here to help</h3>
          <p class="prose">Our goal is to support your musical journey. Each student will move at their own pace, following the path that is right for them. Think of us as your sherpa up the mountain; your guide as you develop the skills to play piano, to experience the joy of music, to enrich your life, to have fun!</p>
        </div>

      </Grid>
    </Container>
  </div>

  <Cta 
    text="Ready to take the next step?"
    buttonText="BOOK YOUR LESSON"
    variant="about"
  />
  
</div>

<style>
.belief-statement {
  margin: 0;
  padding-block: var(--section-spacing-lg);
  background: var(--dark-parchment-2);
}

@media (max-width: 700px) {
  .belief-statement {
    padding-block: var(--section-spacing-md);
  }
}

.intro {
  margin: 0;
  padding-top: var(--section-spacing-xl);
}

@media (max-width: 700px) {
  .intro {
    padding-top: var(--section-spacing-lg);
  }
}


h2,
h3,
p {
  color: var(--dark-brown-ink);
}

h2 {
  margin-bottom: var(--section-spacing-sm);
  font-size: clamp(3.75rem, 6.35vw, 6.35rem);
  line-height: 1.175; 
  text-align: center;
}

h2 span:first-child {
  font-size: 1.25em;
  font-family: 'Gill Sans Condensed'; 
  letter-spacing: .03em;
}

.intro h2 + p {
  margin-top: var(--section-spacing-xs);
}

.content {
  padding-block: 1rem var(--section-spacing-sm);
}

.extra-points p.prose:last-of-type {
  margin-bottom: 0;
}
</style>