---
import { Image } from "astro:assets";
import Container from '../UI/Container.astro';
import SectionTitle from '../UI/SectionTitle.astro';
import headshot from "../../assets/headshot-medium.jpg";
---

<div class="instructor-bio">
    
  <SectionTitle>About the Instructor</SectionTitle>
  
  <Container size="narrow">
  
    <div class="instructor-image">
      <Image
        src={headshot}
        alt="Photo of piano instructor"
        class="headshot"
      />
    </div>
      
    <p class="prose">Tom has more than 20 years of professional experience as a pianist and educator, during which time he has performed thousands of gigs and taught many students. He started playing piano by ear at age 4 and pursued his passion to study classical, jazz, and popular music styles during his formative years. In 2005 he moved to NYC and completed his postgraduate training at the Juilliard School, earning his Masters of Music studying with the great Kenny Barron.</p>
    <p class="prose">Tom is a natural educator and loves helping others discover their musical ability. At Julliard he taught NYC public school students through an Educational Outreach Program. He taught Advanced Theory for Juilliard's Music Advancement Program on Saturdays. He was selected for a cultural exchange program, through which he traveled to work with students at universities in Costa Rica, Colombia, El Salvador, North Carolina, Utah, and Florida. He was on faculty for several years at SUNY Purchase summer jazz camp. He spent more than a decade teaching private students and group classes at Church Street School for Music and Art in Tribeca. Now with Brooklyn Piano Studio he continues his mission to bring the music to the people, making the joy of piano and music accessible to anyone who wants to learn. For more on Tom and his music, visit his <a href="//thomas-mcevoy.com">website</a>.</p>

  </Container>
</div>

<style>
.instructor-bio {
  display: flow-root;
  padding-block: var(--section-spacing-lg);
  background: var(--walnut);
  color: var(--light-parchment);
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: inherit
}

p {  
  color: inherit;
}

a {
  color: var(--antique-gold);
}

a:hover {
  color: var(--antique-gold-hover);
}

.instructor-bio p:last-child {
  margin-bottom: 0;
}

.instructor-image {
  float: right;
  width: 10.4em;
  margin-left: 1.3rem;
  margin-bottom: .75rem;
  transform: translateY(.2rem);
}

@media (max-width: 700px) {
  .instructor-image {
    width: 46%;
  }
}

.headshot {
  display: block;
  width: 100%;
  height: auto;
  filter: saturate(0.9) brightness(0.95);
}
</style>