---
import Layout from '../layouts/Layout.astro';
import SectionTitle from '../components/UI/SectionTitle.astro';
import Container from '../components/UI/Container.astro';
---

<Layout>
  <section class="resources">
    
    <SectionTitle class="title">Educational materials</SectionTitle>

    <Container size="narrow">
      <p>This is where you will find various educational resources provided for your reference. This section is under construction, stay tuned!</p>
    </Container>

  </section>
</Layout>

<style>
.resources {
  margin: 0;
  padding-block: 9rem 4rem;
  background: var(--dark-parchment-2);
  color: var(--brown-ink);
}

h2 {
  text-align: center;
  margin-bottom: 2.5rem;
}

h2,
p,
title {
  color: inherit;
}
</style>