---
import Container from '../UI/Container.astro';
import Grid from '../UI/Grid.astro';
import Panel from '../UI/Panel.astro';
---

<section class="services">
  <Container size="wide">
    <Grid variant="panels">

      <Panel>
        <h3>Three ways to learn</h3>
        <ul class="three-ways">
          <li>
            <h4>In Studio.</h4>
            <p class="copy">Our studio is conveniently located between Carroll Gardens and Cobble Hill in South Brooklyn</p>
          </li>
          <li>
            <h4>Online.</h4>
            <p class="copy">Video lessons via Zoom or Facetime</p>
          </li>
          <li>
            <h4>In Home.</h4>
            <p class="copy">We'll come to you, take lessons in the comfort of your own home</p>
          </li>
        </ul>
      </Panel>

      <Panel>
        <h3>Learn music you love</h3>
        <ul class="decorated">
          <li>Jazz & Standards</li>
          <li>Classical</li>
          <li>Blues</li>
          <li>Gospel</li>
          <li>Broadway</li>
          <li>Pop, Rock, R&B</li>
          <li>Music from TV, Film, Video Games</li>
        </ul>
      </Panel>
        
      <Panel>
        <h3>Build your skills</h3>
        <ul class="decorated">
          <li>Music theory</li>
          <li>How to learn by ear</li>
          <li>Note reading & music notation</li>
          <li>How to play in a band</li>
          <li>Composition</li>
          <li>Proper technique & injury prevention</li>
        </ul>
      </Panel>
      
    </Grid>
  </Container>
</section>

<style>
.services {
  padding-top: var(--section-spacing-md);
  padding-bottom: var(--section-spacing-xs);
  background: var(--walnut);
}

.services h4 {
  display: inline;
  margin-right: .7rem;
}

.services p {
  display: inline;
  padding-bottom: 1.5rem;
}

ul.three-ways li {
  margin-bottom: 1.25rem;
}
</style>