<div class="contact-intro">
  <h2>Schedule your first lesson</h2>
  <p>Or just say hi, we're happy to answer any questions you may have!</p>
</div>

<style>
.contact-intro {
  text-align: center;
  margin-bottom: 2.5rem;
}

.contact-intro * {
  color: var(--brown-ink);
}

h2,
p {
  text-wrap: balance;
}
</style>