---
const { size } = Astro.props;
---

<div class={`container ${size}`}>
  <slot />
</div>

<style>
.container {
  width: min(100% - clamp(2rem, 8vw, 5rem), var(--max-width));  /* does px instead of rem give a smoother responsive experience? */
  margin-inline: auto;
}

.wide {
  --max-width: 64rem;
}

.medium-flexible {
  max-width: clamp(400px, 75vw, 1000px);
}

.narrow {
  --max-width: 60ch;
}
</style>