---
import Button from '../components/Button.astro';
import Container from '../components/Container.astro';
import Grid from '../components/Grid.astro';
import Nav from '../components/FooterNav.astro';
import Wordmark from '../components/Wordmark.astro';

const { showCta } = Astro.props;
---

<footer>
  <Container size="medium-flexible">
    
    <div class="wordmark-container">
      <Wordmark text="Brooklyn Piano Studio" class="footer-wordmark"/>
    </div>

    <div class="footer-main">
      <Grid variant="footer">
        
        <div class={`blurb ${!showCta ? "align-left" : ""}`}>
          <p>Private music instruction by appt.</p>
          <p>Serving greater NYC since 2005</p>
          <p>Brooklyn, NY 11231</p>
          <p class="copyright"><small>&copy; 2026 Brooklyn Piano Studio</small></p>
        </div>
        
        <Nav />

        {showCta && (
          <div class='footer-cta'>
            <p>Ready to get started?</p>
            <Button text="BOOK A LESSON" variant="footer"/>
          </div>
        )}
        
      </Grid>
    </div>
  </Container>
</footer>

<style>
footer {
  padding-block: var(--section-padding-block);
  padding-bottom: var(--section-padding-block-small);
}

.wordmark-container {
  padding-bottom: .375rem;
  border-bottom: 1px solid rgba(232, 221, 207, 0.2);
  text-align: center;
}

:global(.footer-wordmark) {
  color: var(--footer-text);
  font-size: 1.5rem;
  letter-spacing: .1rem ;
}

.footer-main {
  margin-top: 1.1rem;
  padding-block: 1rem;
}


/*  blurb  */

.blurb {
  text-align: center;
  width: fit-content;
}

.blurb.align-left {
  text-align: left;
  width: fit-content;
  justify-self: center;
}

.blurb p {
  font-size: .9rem;
  margin: .4rem 0;
  color: var(--footer-text-2);
}

.blurb p:first-of-type {
  margin-top: 0;
}


/*  footer cta  */

.footer-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  .footer-cta {
    grid-column: 1 / -1;
  }
  
  .footer-cta > p {
    display: none;
  }
}


/*  copyright  */

.copyright {
  margin-top: var(--section-padding-block-small);
  text-align: center;
  /* font-size: 0.75rem; */
  color: var(--footer-text-3);
  opacity: 0.7;
}
</style>