---
const {
  columns,
  gap,
  alignItems,
  class: className = ""
} = Astro.props;
---

<div
  class={`grid ${className}`}
  style={`
    --columns: ${columns};
    --gap: ${gap};
    --align-tems: ${alignItems}
  `}
>
  <slot />
</div>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: var(--gap);
    align-items: var(--align-items);
  }

  @media (max-width: 700px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
</style>