---
import Nav from '../components/HeaderNav.astro';
import Container from '../components/Container.astro';
import Wordmark from '../components/Wordmark.astro';
---

<header>
  <Container size="wide">
    <div class="header-inner">
      
      <a href="/" class="wordmark-container">
        <Wordmark text="Brooklyn Piano Studio" class="header-wordmark"/>
      </a>
    
      <Nav/>
    
    </div>
  </Container>
</header>

<style>
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--dark-parchment);
  backdrop-filter: blur(15px);
  border-bottom: 1px solid rgb(255 255 255 / 0.15);
  box-shadow: 0 2px 8px rgba(66, 54, 45, 0.06);
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: .375rem;
}

.wordmark-container {
  font-size: 1.8rem;
}

:global(header a) {
  color: var(--ink);
  text-decoration: none;
  transform: translateY(.15em);  /* compensating for gill sans' high vertical placement */
}

@media (max-width: 700px) {
  .header-inner {
    flex-direction: column;
    padding-block: 0
  }
  .wordmark-container {
    transform: translateY(.5em);
  }
  :global(header a) {
    transform: translateY(.3em);
  }
}
</style>