---
import Button from '../UI/Button.astro';
---

<div class='footer-cta'>
  <p>Ready to get started?</p>
  <Button href="/contact" text="BOOK A LESSON" variant="footer"/>
</div>

<style>
.footer-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-cta p {
  color: var(--footer-text-bright)
}

@media (max-width: 700px) {
  .footer-cta {
    grid-column: 1 / -1;
    margin-top: var(--section-spacing-sm);
  }
}
</style>