---
import Button from '../../components/Button.astro';
---

<div class='cta'>
  <p>Ready to get started?</p>
  <Button text="BOOK A LESSON" variant="footer"/>
</div>

<style>
.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(194, 199, 208);
}

@media (max-width: 700px) {
  .cta {
    grid-column: 1 / -1;
    /* margin-top: -.25rem; */
    margin-top: var(--section-padding-block-small);
  }
}
</style>