---
import Container from '../UI/Container.astro';
import Wordmark from '../UI/Wordmark.astro';
import Grid from '../UI/Grid.astro';
import Cta from '../UI/Cta.astro';
import Nav from './FooterNav.astro';
import Blurb from './FooterBlurb.astro';

const { showCta } = Astro.props;
---

<footer>
  <Container size="medium-flexible">
    
    <div class="wordmark-container">
      <Wordmark text="Brooklyn Piano Studio" />
    </div>

    <Grid variant="footer">
      
      <Blurb />
      <Nav />
      <Cta 
        text="Ready to get started?"
        buttonText="BOOK A LESSON"
        variant="footer"
      />
      
    </Grid>

    <p class="copyright"><small>All content &copy; 2026 Brooklyn Piano Studio</small></p>
  </Container>
</footer>

<style>
footer {
  padding-top: var(--section-spacing-lg);
  padding-bottom: var(--section-spacing-xs);
  background-color: var(--site-background-color);
}

.wordmark-container {
  position: relative;
  padding-bottom: .375rem;
  border-bottom: 1px solid rgba(232, 221, 207, 0.2);
  text-align: center;
  color: var(--slate-text);
  font-size: 1.5rem;
  letter-spacing: .1rem;
  opacity: .8;
}

.copyright {
  margin-top: var(--section-spacing-lg);
  text-align: center;
  font-style: italic;
  color: var(--slate-text-dark);
  letter-spacing: .01rem;
  /* opacity: 0.7; */
}
</style>