---
import Container from '../UI/Container.astro';
import Wordmark from '../UI/Wordmark.astro';
import Grid from '../UI/Grid.astro';
import Cta from '../UI/Cta.astro';
import Nav from './FooterNav.astro';
import Blurb from './FooterBlurb.astro';

const { showCta } = Astro.props;
---

<footer>
  <Container size="medium-flexible">
    
    <div class="wordmark-container">
      <Wordmark
        text="Brooklyn Piano Studio"
        class="footer-wordmark"
      />
    </div>

    <Grid
      variant="footer"
      mode={showCta ? "expanded" : "compact"}
    >
      
      <Blurb />
      <Nav />
      {showCta && <Cta 
        variant="footer"
        text="Ready to get started?"
        buttonText="BOOK A LESSON"
        href="/contact"
      />}
      
    </Grid>

    <p class="copyright"><small>All content &copy; 2026 Brooklyn Piano Studio</small></p>
  </Container>
</footer>

<style>
footer {
  --footer-text: #5F6470;
  --footer-text-2: #626771;
  --footer-text-3: #7D828C;
  --footer-text-bright: rgb(194, 199, 208);
  
  padding-top: var(--section-spacing-md);
  padding-bottom: var(--section-spacing-sm);
  background-color: var(--site-background-color);
}

.wordmark-container {
  padding-bottom: .375rem;
  border-bottom: 1px solid rgba(232, 221, 207, 0.2);
  text-align: center;
  position: relative;
}

:global(.footer-wordmark) {
  color: var(--footer-text);
  opacity: .8;
  font-size: 1.5rem;
  letter-spacing: .1rem ;
}

:global(.grid.footer) {
  margin-top: 2rem;
  justify-content: space-between;
}

@media (max-width: 700px) {
  :global(.grid.footer) {
    grid-template-columns: auto auto;
    justify-content: space-between;
  }

  :global(.grid.footer > .blurb) {
    grid-column: 1;
    grid-row: 1;
  }

  :global(.grid.footer > nav) {
    grid-column: 2;
    grid-row: 1;
  }

  :global(.grid.footer > .footer-cta) {
    grid-column: 1 / -1;
    grid-row: 2;
    /* justify-self: center; */
  }
}

.copyright {
  margin-top: var(--section-spacing-xs);
  text-align: center;
  font-style: italic;
  color: var(--footer-text-3);
  opacity: 0.7;
}
</style>