<div class='blurb'>
  <p>Brooklyn Piano Studio</p>
  <p>Private music instruction by appt.</p>
  <p>Serving greater NYC since 2005</p>
  <p>Brooklyn, NY 11231</p>
</div>

<style>
.blurb {
  text-align: center;
  width: fit-content;
}

.blurb p {
  font-size: .9rem;
  line-height: 1.65;
  color: var(--footer-text-2);
  margin: .5rem 0;
}

.blurb p:first-of-type {
  margin-top: 0;
}

.copyright {
  margin-top: var(--section-padding-block-small);
  text-align: center;
  color: var(--footer-text-3);
  opacity: 0.7;
}

/*  make footer blurb text flush left  */
@media (max-width: 700px) {
  .blurb,
  .copyright {
    text-align: left;
    justify-self: start;
  }
}
</style>