---
const {
  variant = "",
  class: className = ""
} = Astro.props;
---

<div class={`grid ${variant} ${className}`}>
  <slot />
</div>

<style>
.grid {
  display: grid;
}


/* ---------- Panels ---------- */

.grid.panels {
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3.5rem;
  row-gap: 3.5rem;
}

@media (max-width: 700px) {
  .grid.panels {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 0;
  }
}


/* ---------- Split ---------- */

.grid.split {
  grid-template-columns: 1fr 1fr;
  column-gap: 2.5rem;
  row-gap: 2rem;
}

@media (max-width: 700px) {
  .grid.split {
    grid-template-columns: 1fr;
  }
}


/* ---------- Footer ---------- */
.grid.footer {
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  column-gap: 3rem;
  margin-top: 2rem;
}

@media (max-width:700px) {
  .grid.footer {
    grid-template-columns: auto auto;
    row-gap: 2rem;
  }

  .grid.footer > :last-child {
    grid-column: 1 / -1;
  }
}
</style>