---
const {
  variant = "",  // panels, split, footer
  mode = "",  // compact, expanded
  class: className = ""
} = Astro.props;
---

<div class={`grid ${variant} ${mode} ${className}`}>
  <slot />
</div>

<style>
.grid {
  display: grid;
}


/* ---------- Panels ---------- */

.grid.panels {
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3.5rem;
  row-gap: 3.5rem;
}

@media (max-width: 700px) {
  .grid.panels {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 1.5rem;
  }
}


/* ---------- Split ---------- */

.grid.split {
  grid-template-columns: 1fr 1fr;
  column-gap: 2.5rem;
  /* row-gap: 3rem; */
}

@media (max-width: 700px) {
  .grid.split {
    grid-template-columns: 1fr;
  }
}


/* ---------- Footer ---------- */
.grid.footer {
  column-gap: 3rem;
  justify-content: space-between;
}

.grid.footer.compact {
  grid-template-columns: repeat(2, auto);
}

.grid.footer.expanded {
  grid-template-columns: repeat(3, auto);
}

@media (max-width:700px) {
  .grid.footer.compact,
  .grid.footer.expanded {
    grid-template-columns: repeat(2, auto);
    row-gap: 2rem;
  }

  .grid.footer.expanded > :last-child {
    grid-column: 1 / -1;
  }
}
</style>