---
import Rule from "./Rule.astro";
---

<div class="section-title">
  <h2><slot /></h2>
  <Rule variant="section-title" />
</div>

<style>
.section-title {
  text-align: center;
  margin-bottom: var(--section-spacing-sm);
  color: inherit;
}

.section-title h2 {
  margin-bottom: .375rem;
  color: inherit;
}
</style>