---
const { text } = Astro.props;

const words = text.split(" ");
---

<span class={`wordmark`}>
  {words.map((word, index) => (
    <>
      <span class="word">
        <span class="initial">{word[0]}</span><span class="script">{word.slice(1)}</span>
      </span>
      {index < words.length - 1 && " "}
    </>
  ))}
</span>

<style>
.wordmark {
  display: inline-block;
  line-height: 2.5;
  height: 1.8rem;
}

.initial {
  font-family: "Gill Sans Condensed", sans-serif;
  font-weight: 700;
}

.script {
  font-family: "Brittany Signature", cursive;
}
</style>